server:
  port: 8081

spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:mysql://localhost:3306/auth_db
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          secret-key: my-super-secret-key-my-super-secret-key

jwt:
  secret: my-super-secret-key-my-super-secret-key
  expiration: 86400000

gateway:
  token: gateway-internal-secret-token