server:
  port: 8082

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:mysql://localhost:3306/user_db
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

gateway:
  token: gateway-internal-secret-token

internal:
  service:
    token: internal-service-secret-token
