<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body style="font-family: Arial, sans-serif; color:#333;">

<p>Dear <strong th:text="${customerName}">User</strong>,</p>

<p>
    We received a request to reset your <strong>AnvyCart</strong> account password.
</p>

<p style="font-size:16px;">
    <strong>Your One-Time Password (OTP):</strong><br/>
    <span style="font-size:20px; letter-spacing:2px;"
          th:text="${otp}">123456</span>
</p>

<p>
    This OTP is valid for a limited time.  
    Please do not share it with anyone.
</p>

<p>
    If you did not request this, please ignore this email.
</p>

<p>
    Regards,<br/>
    <strong>AnvyCart Security Team</strong>
</p>

</body>
</html>
