server:
  port: 8080

spring:
  application:
    name: api-gateway-service

  cloud:
    gateway:
      routes:

        # =========================
        # Auth Service
        # =========================
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**,/internal/auth/**

        # =========================
        # Downstream Test Service
        # =========================
        - id: downstream-test
          uri: http://localhost:8090
          predicates:
            - Path=/test/**

        # =========================
        # Admin Test Routes
        # =========================
        - id: admin-test
          uri: http://localhost:8090
          predicates:
            - Path=/admin/**

        # =========================
        # User Service
        # =========================
        - id: user-service
          uri: http://localhost:8082
          predicates:
            - Path=/users/**,/internal/users/**

        # =========================
        # Product Service
        # =========================
        - id: product-service
          uri: http://localhost:8083
          predicates:
            - Path=/products/**,/public/products/**,/internal/products/**

        # =========================
        # Product Images
        # =========================
        - id: product-images
          uri: http://localhost:8083
          predicates:
            - Path=/images/**

        # =========================
        # Inventory Service
        # =========================
        - id: inventory-service
          uri: http://localhost:8084
          predicates:
            - Path=/inventories/**,/internal/inventories/**

        # =========================
        # Cart Service
        # =========================
        - id: cart-service
          uri: http://localhost:8085
          predicates:
            - Path=/cart/**,/internal/cart/**

        # =========================
        # Order Service
        # =========================
        - id: order-service
          uri: http://localhost:8086
          predicates:
            - Path=/orders/**,/internal/orders/**

        # =========================
        # Payment Service
        # =========================
        - id: payment-service
          uri: http://localhost:8087
          predicates:
           - Path=/payments/**,/internal/payments/**, /webhooks/razorpay

        # =========================
        # Delivery Service
        # =========================
        - id: delivery-service
          uri: http://localhost:8088
          predicates:
            - Path=/deliveries/**,/internal/deliveries/**

        # =========================
        # Notification Service
        # =========================
        - id: notification-service
          uri: http://localhost:8089
          predicates:
            - Path=/internal/notifications/**

# =========================
# Security Configuration
# =========================
jwt:
  secret: my-super-secret-key-my-super-secret-key

gateway:
  token: gateway-internal-secret-token

internal:
  service:
    token: internal-service-secret-token
