server:
  port: 8080

spring:
  application:
    name: api-gateway-service

  cloud:
    gateway:
      routes:

        # Auth Service 
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**,/internal/auth/**

        # User Test route 
        - id: downstream-test
          uri: http://localhost:8090
          predicates:
            - Path=/test/**
          #filters:
          #  - RewritePath=/test/(?<segment>.*), /${segment} # if url is /test/headers becomes /headers

        # Admin Test route 
        - id: admin-test
          uri: http://localhost:8090
          predicates:
            - Path=/admin/**
        
        #Microservices routing starts
        - id: user-service
          uri: http://localhost:8082
          predicates:
            - Path=/users/**,/internal/users/**

        - id: product-service
          uri: http://localhost:8083
          predicates:
            - Path=/products/**,/public/products/**,/internal/products/**

        - id: product-images
          uri: http://localhost:8083
          predicates:
          - Path=/images/**

        - id: inventory-service
          uri: http://localhost:8084
          predicates:
            - Path=/inventories/**,/internal/inventories/**

        - id: cart-service
          uri: http://localhost:8085
          predicates:
            - Path=/cart/**,/internal/cart/**

jwt:
  secret: my-super-secret-key-my-super-secret-key

gateway:
  token: gateway-internal-secret-token

internal:
  service:
    token: internal-service-secret-token
