server:
  port: 8088

spring:
  application:
    name: delivery-service

  datasource:
    url: jdbc:mysql://localhost:3306/delivery_db
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  kafka:
    bootstrap-servers: localhost:9092

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

      properties:
        spring.json.add.type.headers: false

gateway:
  token: gateway-internal-secret-token

internal:
  service:
    token: internal-service-secret-token

services:
  order-service:
    url: http://localhost:8086/internal/orders
